{% extends "main.html" %}
{% block hero %}
<div class="pytx-hero pytx-container">
  <div class="pytx-hero__image hide-if-dark">
    <img src="assets/images/logos/pytexas2026_day_color.svg" alt="PyTexas 2026 Logo - Day"/>
  </div>
  <div class="pytx-hero__image hide-if-light">
    <img src="assets/images/logos/pytexas2026_night_color.svg" alt="PyTexas 2026 Logo - Night"/>
  </div>
</div>
{% endblock %}
{% block content %}
    <div class="pytx-hero__content">
        {% include "partials/content.html" %}
    </div>
{% endblock %}
